<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.dumbframework.tools.atlasmaker.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dumbframework.tools.atlasmaker.MainPerspective"
            fixed="false"
            icon="icons/application_form.png"
            id="org.dumbframework.tools.atlasmaker.perspective"
            name="Main">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.dumbframework.tools.atlasmaker.SpriteView"
            icon="icons/image.png"
            id="org.dumbframework.tools.atlasmaker.SpriteView"
            name="Sprite Viewer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.dumbframework.tools.atlasmaker.AtlasBuilder"
            icon="icons/layers.png"
            id="org.dumbframework.tools.atlasmaker.AtlasBuilder"
            name="Atlas Builder"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.dumbframework.tools.atlasmaker.AnimationMaker"
            icon="icons/arrow_inout.png"
            id="org.dumbframework.tools.atlasmaker.AnimationMaker"
            name="Animation Maker"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.dumbframework.tools.atlasmaker.Application"
            description="Tools for making Atlas for the Dumb Framework"
            name="AtlasMaker">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="atlasBuilder.contribution"
            targetID="org.dumbframework.tools.atlasmaker.AtlasBuilder">
         <action
               class="org.dumbframework.tools.atlasmaker.AtlasRebuildAction"
               icon="icons/overlays.png"
               id="atlasbuilder.rebuildAtlas"
               label="Rebuild Atlas"
               state="true"
               style="push"
               toolbarPath="atlasBuilder.main">
         </action>
      </viewContribution>
   </extension>

</plugin>
